# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist
assets/fonts
assets/images
assets/lottie
assets/svg
assets/svgs
assets/*.svg

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
